/* ================= CONTACT ================= */
.title-contact {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 1rem;
    color: #fff;
    text-shadow: 0 0 5px #1d4da5,
        0 0 10px #0f25a1,
        0 0 20px #22539c;
}

.contact input,
.contact textarea {
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 10px;
    color: var(--text-primary);
    transition: var(--transition);
    width: 100%;
}

.contact input:focus,
.contact textarea:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 8px rgba(56, 189, 248, 0.2);
    outline: none;
}

.contact button {
    background-color: var(--card-bg);
    color: #ffffff;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    transition: var(--transition);
    margin-top: 0.5rem;
}

.contact button:hover {
    opacity: 0.85;
    transform: translateY(-2px);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 1rem;
}
