
/* ================= PETS ================= */
.contenedor-mascotas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.mascota {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: var(--transition);
}

.mascota:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}

.mascota img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.mascota h3 {
    color: var(--secondary-color);
    margin-bottom: 0.4rem;
}

.mascota p {
    font-size: 0.9rem;
    color: var(--text-secondary);
}




/* ================= TITLE GALERIA OF PETS================= */
.galeria {
    padding-top: 5rem;
    padding-bottom: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.galeria h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: 0 0 5px #1d4da5,
        0 0 10px #0f25a1,
        0 0 20px #22539c;
}
